.product{
    display:flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;

    background: white;
    z-index: 1;
}
.product > img {
    max-height: 200px;
    width:100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product > button{
    background: #e6a709;
    border:1px solid;
    margin-top: 10px;
    border: color #866b25 #9c7e31 #846a29;
    color:#111;
    border-radius: 5px;
}
.product_price{
    margin-top:5px;
}
.product_rating{
    display: flex;
}

.product_info{
    height: 100px;
    margin-bottom: 15px;
}